<div class="container">
    <div class="inputControlsContainer">
        <div class="Heading">
            <span>Data Set 1</span>
        </div>
        <div class="ContentContainer">
          <textarea placeholder="
          {
            'x': [],
            'y': []
          }
          "></textarea>
        </div>
    </div>
    <div class="buttonContainer">
      <button>Compare</button>
    </div>
    <div class="inputControlsContainer">
      <div class="Heading">
          <span>Data Set 2</span>
      </div>
      <div class="ContentContainer">
        <textarea placeholder="
          {
            'x': [],
            'y': []
          }
          "></textarea>
      </div>
  </div>
</div>
